# Domain mode
# DOMAIN_MODE=
# NEXT_PUBLIC_DOMAIN_MODE=

# Backend related
# BASE_URL=
# NEXT_PUBLIC_BASE_URL=

# Organization related
# ORGANIZATION_ID=
# CLIENT_SECRET=

# Google OAuth
# NEXT_PUBLIC_GOOGLE_OAUTH_ID=

# Supabase
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Mailtrap
# MAILTRAP_API_TOKEN=
# MAILTRAP_WEBHOOK_SECRET=
